.DS_Store
.build/
DerivedData/
*.xcuserstate
*.xcuserdata/
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.swiftpm/
Packages/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Config/Secrets.xcconfig
